// sass variables
$primary-color: #004cff;
$secondary-color: #ab00fa;
$background-color: #ffffff;
$text-color: #18023b;

$full-screen: 100vh;

$border-radius: 12px;
$border: 2px solid $secondary-color;

$padding-sm: 5px;
$padding-lg: 10px;

$margin-sm: 7.5px;
$margin-lg: 15px;

// sass mix-ins
@mixin center-all {
  text-align: center;
  justify-content: center;
  align-items: center;
}

@mixin font-title($var-weight, $var-color) {
  font: {
    size: 1.75rem;
    weight: $var-weight;
  }
  color: $var-color;
}

// selectors
.main-container {
  display: flex;
  background-color: $background-color;
  height: $full-screen;
  padding: $padding-lg;
  @include center-all;
}

// join two lists
.content-container {
  height: 300px;
  width: 300px;
  margin: $margin-lg;
  padding: join($padding-lg,$padding-sm);
  border: $border;
  border-radius: $border-radius;
  background-color: $primary-color;
}

.title {
  @include font-title(bolder, #04fce7);
  width: fit-content;
  margin-left: 15%;
  margin-right: auto;
  pointer-events: none;
}

.content {
  position: relative;
  top: 0px;
  left: 0px;
  pointer-events: none;
  line-height: 2;
}


// palceholder styles = %
%palceholder-styles {
  height: 50px;
  border-radius: $border-radius;
  background-color: $text-color;
  color: $background-color;
}
// @extend %
.good-bye {
  @extend %palceholder-styles;
}

// adding parameters to mixin with multiple values
@mixin shadow($shadow...) {
  box-shadow: $shadow;
  top:-5px;
  color: white!important;
}
.good-times {
  position: relative;
  top: 0px;
  left: 0px;
  @extend .good-bye;
  @include font-title(200, #b38df1);
  transition: 0.6s ease, background-color 6s ease;
}
.good-times:hover {
  background-color: #004cff;
  @include shadow(1px 2px 5px 5px rgba(42, 250, 0, 0.1), 1px 2px 5px rgb(255, 0, 106), 1px 2px 5px 5px rgba(0, 162, 255, 0.75));
  animation: float 0.2s ease-in 0.4s 6 forwards;
}
@keyframes float {
  0% {top: -5px;}
  25% {top: 5px;}
  35% {top: -10px;}
  50% {top: -5px;}
  60% {left: -5px;}
  75% {left: 5px;}
  100% {left: 0px;}
}